#skills {
    margin-bottom: 0px;
}

.skillset-main-container {
    margin-top: 50px;
    margin-inline: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.skillset-all-tabs {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 25px;
    width: 60%;
    margin-inline: auto;
    flex-wrap: wrap;
}

.skillset-all-card {
    width: 900px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.skill-line {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.skill-line:nth-of-type(even) {
    flex-direction: row-reverse;
}
