.main-projects {
    margin: 100px auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 300px;
}

.all-project-buttons {
    display: flex;
    flex-direction: column;
    margin: 50px;
    position: relative;
    z-index: 0;
    height: 400px;
    width: 300px;
    overflow: scroll;
}

.card-wrapper {
    display: flex;
    margin: 20px;
    position: relative;
}

.card-hidden {
    position: absolute;
    opacity: 0;
    z-index: -2;
}
