.skill-card {
    width: 375px;
    height: 250px;
    padding: 20px 40px;
    background-color: var(--glass-background);
    border-radius: 5px;
    border: 1px solid var(--green);
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    position: relative;

    font-size: 25px;
    line-height: 1.25;
}

.skill-card-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    margin-right: 100px;
}

.skill-icon-with-name {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.skill-name {
    font-size: 30px;
    font-weight: 700;
}

.skill-year-experience {
    width: 100%;
    text-align: left;
    /* margin-top: 10px; */
}

.skill-number {
    position: absolute;
    font-size: 400px;
    color: var(--green);
    left: 70%;
    top: -33%;
    opacity: 0.4;
    z-index: -1;
    line-height: normal;
}

.main-skill-text {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
