.skill-card {
    width: 45%;
    height: 250px;
    padding: 20px 40px;
    background-color: var(--glass-background);
    border-radius: 5px;
    border: 1px solid var(--green);
    display: flex;
    flex-direction: column;
    position: relative;
}

.skill-card-icon {
    --icon-size: 60px;
    --top-left-padding: 20px;
    position: absolute;
    top: var(--top-left-padding);
    left: var(--top-left-padding);
    margin-right: 100px;
    height: var(--icon-size);
    width: var(--icon-size);
}

.skill-icon-with-name {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.skill-name {
    font-size: 30px;
    font-weight: 700;
}

.skill-year-experience {
    width: 100%;
    text-align: left;
}

.skill-number {
    position: absolute;
    font-size: 400px;
    color: var(--green);
    left: 70%;
    top: -33%;
    opacity: 0.4;
    z-index: -1;
    line-height: normal;
}

.main-skill-text {
    padding-left: 3%;
    font-size: 25px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

@media (max-width: 1024px) {
    .skill-card {
        height: 225px;
    }

    .skill-card-icon {
        --icon-size: 50px;
        --top-left-padding: 25px;
    }

    .skill-name {
        font-size: 27px;
    }

    .main-skill-text {
        font-size: 22px;
    }

    .skill-number {
        font-size: 360px;
        left: 70%;
        top: -35%;
    }
}

@media (max-width: 768px) {
    .skill-card {
        width: 70%;
    }

    .skill-icon-with-name {
        margin-top: 17px;
    }
}

@media (max-width: 600px) {
    .skill-card {
        height: 200px;
        width: 80%;
    }

    .skill-card-icon {
        --icon-size: 40px;
    }

    .skill-icon-with-name {
        margin-top: 13px;
    }

    .skill-name {
        font-size: 25px;
    }

    .main-skill-text {
        font-size: 20px;
    }

    .skill-number {
        font-size: 320px;
        left: 70%;
        top: -35%;
    }
}

@media (max-width: 460px) {
    .main-skill-text {
        padding-left: 0%;
        margin-left: -10%;
    }

    .skill-card {
        height: 175px;
        width: 90%;
    }

    .skill-card-icon {
        --icon-size: 35px;
        --top-left-padding: 20px;
    }

    .skill-icon-with-name {
        margin-top: 7px;
    }

    .skill-name {
        font-size: 23px;
    }

    .main-skill-text {
        font-size: 18px;
        margin-top: 10px;
    }

    .skill-number {
        font-size: 280px;
        left: 70%;
        top: -35%;
    }
}
