.button-with-index {
    display: flex;
    position: relative;
    z-index: -1;
    margin-top: 50px;
}

.project-index {
    position: absolute;
    color: var(--foreground);
    font-size: 70px;
    top: -70%;
    left: 3%;
    z-index: 1;
}

.project-button {
    color: var(--foreground);
    border: 3px solid var(--green);
    border-radius: 10px;
    position: relative;
    /* padding: 20px 40px; */
    padding: 10px 30px;
    background-color: transparent;
}

.project-button:hover {
    border-color: var(--green);
    background-color: var(--green);
    color: var(--background);
    cursor: pointer;
}

@keyframes goUp {
    to {
        transform: translateY(-50px);
    }
}

.project-button-active {
    border-color: var(--green);
    background-color: var(--green);
    color: var(--background);
}

@media (max-width: 1024px) {
    .project-index {
        font-size: 60px;
    }

    .project-button {
        padding: 10px 20px;
    }
}

@media (max-width: 860px) {
    .project-button {
        height: fit-content;
        width: max-content;
    }

    .project-index {
        position: absolute;
        top: -65%;
    }
}

@media (max-width: 1024px) {
    .project-index {
        font-size: 50px;
    }
}
