.button-with-index {
    display: flex;
    position: relative;
    z-index: -1;
    margin-top: 50px;
    margin-left: 3%;
}

.project-index {
    position: absolute;
    color: var(--foreground);
    font-size: 70px;
    top: -80%;
    left: 3%;
    z-index: 1;
}

.project-button {
    color: var(--foreground);
    border: 3px solid var(--green);
    border-radius: 10px;
    position: relative;
    padding: 10px 30px;
    background-color: transparent;
    border: 1px solid;
    border-color: transparent;
    background-color: var(--background);
    box-shadow: 0 0 0 3px var(--green);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;
}
.project-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: var(--green);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }

.project-button h3 {
    position: relative;
    z-index: 1;
}

.project-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: var(--background);
    border-radius: 10px;
    cursor: pointer;
  }

  .project-button:hover .circle {
    width: 300px;
    height: 300px;
    opacity: 1;
  }

@keyframes goUp {
    to {
        transform: translateY(-50px);
    }
}

.project-button-active {
    border-color: var(--green);
    background-color: var(--green);
    color: var(--background);
}

@media (max-width: 1024px) {
    .project-index {
        font-size: 60px;
    }

    .project-button {
        padding: 10px 20px;
    }
}

@media (max-width: 860px) {
    .project-button {
        height: fit-content;
        width: max-content;
    }

    .project-index {
        position: absolute;
        top: -65%;
    }
}

@media (max-width: 1024px) {
    .project-index {
        font-size: 50px;
    }
}
