/* Project Card main */

.project-card-wrapper {
    --card-width: 435px;
    --card-height: 700px;
}

.project-card {
    height: var(--card-height);
    width: var(--card-width);
    background-color: var(--light-background);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

@media (max-width: 1024px) {
    .project-card-wrapper {
        --card-width: 375px;
        --card-height: 600px;
    }
}

@media (max-width: 550px) {
    .project-card-wrapper {
        --card-width: 300px;
        --card-height: 500px;
    }
}

@media (max-width: 400px) {
    .project-card-wrapper {
        --card-width: 250px;
        --card-height: 450px;
    }

    /* .project-card {
        height: fit-content;
    } */
}

/* Project Card Image */

.project-card-image {
    position: relative;
    object-fit:contain;
    object-position: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    max-width: 100%;
    width: var(--card-width);
}

/* Text Area + Project Title */

.card-text-area {
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.project-card-title {
    margin-left: 10px;
    position: relative;
}

.project-card-title::before {
    content: "";
    display: block;
    left: 10%;
    top: 80%;
    width: 5rem;
    height: 3px;
    position: absolute;
    background-color: var(--green);
}

.project-card-description {
    margin-top: 20px;
}

/* Footer */

.project-card-footer {
    display: flex;
    margin-inline: auto;
    margin-bottom: 20px;
    /* margin-top: auto; */
    justify-content: center;
    gap: 10px;
}

.project-card-view-more-button {
    display: flex;
    width: fit-content;
    padding: 10px 20px;
    align-self: flex-end;
    border-radius: 10px;
    border: 2px solid var(--green);
    color: var(--green);
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 16px;
}

@media (max-width: 860px) {
    .project-card-icon {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 768px) {
    .project-card-view-more-button {
        font-size: 14px;
    }
}

@media (max-width: 550px) {
    .project-card-icon {
        width: 27px;
        height: 27px;
    }

    .project-card-view-more-button {
        padding: 8px 16px;
    }
}

@media (max-width: 400px) {
    .project-card-icon {
        width: 25px;
        height: 25px;
    }
}

/* Card Shadow */

.rectangle-shadow {
    display: block;
    position: absolute;
    width: var(--card-width);
    height: var(--card-height);
    content: "";
    top: 10%;
    left: -10%;
    background-color: var(--green);
    border-radius: 10px;
    z-index: -2;
}

/* Card Border + Border's animation */

.card-border-path {
    --stroke-offset-svg: 2800;
    --anmation-name: "";
    stroke-dasharray: var(--stroke-offset-svg);
    stroke-dashoffset: var(--stroke-offset-svg);
}

.project-card:hover {
    cursor: pointer;
}

.project-card:hover .card-border-path {
    animation: draw 1.3s linear forwards;
}

.card-border-svg {
    position: absolute;
    top: -0.06%;
    left: -2%;
    /* top: -0.4%;
    left: -150%; */

    z-index: 4;
    rotate: 180deg;
    /* height: calc(var(--card-height) + 70px);
    width: calc(var(--card-width) + 100px); */
    height: 100%;
    /* height: calc(var(--card-height) + 150px); */
    width: 104%;
}

@media (max-width: 1024px) {
    .card-border-svg {
        left: -2.3%;
    }
}

@media (max-width: 1024px) {
    .card-border-svg {
        left: -2.3%;
    }
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes erase {
    to {
        stroke-dashoffset: 1700;
    }
}
