.project-card-wrapper {
    --card-width: 435px;
    --card-height: 700px;
    /* margin-left: 100px; */
}

.project-card {
    height: var(--card-height);
    width: var(--card-width);
    background-color: var(--light-background);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.project-card-image {
    position: relative;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    max-width: 100%;
    width: var(--card-width);
    height: 325px;
}

.card-text-area {
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.project-card-title-box {
    margin-left: 10px;
}

.project-card-title-box::before {
    content: "";
    display: block;
    left: 10%;
    width: 80px;
    height: 1.8rem;
    position: absolute;
    border-bottom: 3px solid var(--green);
}

.project-card-description {
    margin-top: 20px;
}

.project-card-footer {
    display: flex;
    margin-inline: auto;
    margin-bottom: 20px;
    margin-top: auto;
    justify-content: center;
    gap: 10px;
}

.rectangle-shadow {
    display: block;
    position: absolute;
    width: var(--card-width);
    height: var(--card-height);
    content: "";
    top: 10%;
    left: -10%;
    background-color: var(--green);
    border-radius: 10px;
    z-index: -2;
}

.card-border-path {
    --stroke-offset-svg: 2800;
    --anmation-name: "";
    stroke-dasharray: var(--stroke-offset-svg);
    stroke-dashoffset: var(--stroke-offset-svg);
}

.project-card:hover {
    cursor: pointer;
}

.project-card:hover .card-border-path {
    animation: draw 1.3s linear forwards;
}

.card-border-svg {
    position: absolute;
    top: -0.06%;
    left: -2%;
    /* top: -0.4%;
    left: -150%; */
    
    z-index: 4;
    rotate: 180deg;
    /* height: calc(var(--card-height) + 70px);
    width: calc(var(--card-width) + 100px); */
    height:100%;
    /* height: calc(var(--card-height) + 150px); */
    width: 104%;
    
}

.card-border-svg-container {
    /* height: */
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes erase {
    to {
        stroke-dashoffset: 1700;
    }
}
