.tech-stack-container {
    position: relative;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.line-wrapper {
    z-index: -1;
    position: absolute;
}

.stack-title {
    position: relative;
    font-size: 70px;
    color: var(--foreground);
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px auto;
}

.stack-title h1 {
    font-size: 70px;
}

.tech-squares-all {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    width: 80%;
    margin-inline: auto;
    justify-items: center;
}

@media (max-width: 1024px) {
    .tech-squares-all {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 700px) {
    .tech-squares-all {
        row-gap: 5px;
    }

    .stack-title h1 {
        font-size: 58px;
    }

    .tech-stack-container {
        margin-top: 20px;
    }
}

@media (max-width: 500px) {
    .tech-squares-all {
        width: 90%;
    }

    .stack-title h1 {
        font-size: 45px;
    }
}
