/* The main container/wrapper and picture css  */

.landing-container {
    margin-inline: auto;
    padding-top: 125px;
    max-width: 90%;
    display: flex;
    justify-content: space-evenly;
    line-height: normal;
}

@media (max-width: 1024px) {
    .landing-container {
        flex-direction: column;
    }
}

.line-face-container {
    position: relative;
    display: flex;
}

.line-face-picture {
    width: 50vw;
    height: 50vw;
}

@media (max-width: 1024px) {
    .line-face-container {
        justify-content: center;
    }

    .line-face-picture {
        width: 70vw;
        height: 70vw;
    }
}

@media (max-width: 768px) {
    .landing-container {
        padding-top: 50px;
        width: 110%;
    }

    .line-face-picture {
        width: 110%;
        height: 110%;
    }
}

/* The main name and the rectangle styles */

.text-container {
    position: relative;
    margin-top: 7%;
    width: 100%;
}

.name-container {
    display: flex;
    flex-direction: column;
}

.full-name {
    /* font-size: 120px; */
    font-size: clamp(1.5rem, 6vw, 120px);
    color: var(--foreground);
    font-weight: 500;
}

.first-name {
    position: relative;
    left: -15%;
}

.last-name {
    position: relative;
    left: 10%;
    color: var(--background);
}

.last-name-rectangle {
    display: block;
    position: absolute;
    left: -0.2em;
    top: 0;
    height: 1em;
    width: 10em;
    background-color: var(--green);
    z-index: -1;
    top: -0.09em;
}

@media (max-width: 1024px) {
    .name-container {
        width: 80%;
        margin-inline: auto;
    }

    .full-name {
        /* font-size: 90px; */
        font-size: clamp(1rem, 10vw, 90px);
    }

    .first-name {
        left: 0;
    }

    .last-name {
        left: 20%;
        margin-top: 10px;
    }

    .last-name-rectangle {
        top: -0.1em;
    }
}

@media (max-width: 768px) {
    .name-container {
        width: 80%;
    }

    .full-name {
        font-size: clamp(1rem, 11vw, 80px);
    }

    .first-name {
        left: 0;
    }

    .last-name {
        left: 20%;
        margin-top: 0px;
    }
}

@media (max-width: 550px) {
    .full-name {
        font-size: clamp(1rem, 11vw, 60px);
    }
}

/* The desriptions styles  */

.home-descriptions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    font-size: clamp(1rem, 2.8vw, 45px);
    font-style: italic;
    margin-top: 20%;
}

.home-description-line {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.home-description-line:nth-child(2) {
    margin-right: 10%;
}

.home-description-line:nth-child(3) {
    margin-right: 20%;
}

.hidden-home-description {
    color: var(--background);
    cursor: default;
}

@media (max-width: 1024px) {
    .home-descriptions {
        width: 80%;
        margin-inline: auto;
        margin-top: 30px;
        font-size: clamp(1rem, 4vw, 45px);
    }

    .home-description-line:nth-child(2) {
        margin-right: 7%;
    }
    
    .home-description-line:nth-child(3) {
        margin-right: 14%;
    }

    .home-description-line {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .home-descriptions {
        width: 90%;
        margin-top: 30px;
        gap: 5px;
        font-size: clamp(30px, 4.3vw, 45px);
    }

}

@media (max-width: 550px) {
    .home-descriptions {
        font-size: clamp(22px, 5.3vw, 30px);
    }

    .home-description-line {
        gap: 10px;
    }

}

@media (max-width: 400px) {
    .home-descriptions {
        width: 95%;
    }
}
