.landing-container {
    margin-inline: auto;
    padding-top: 125px;
    max-width: 90%;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 1024px) {
    .landing-container {
        flex-direction: column;
    }
}

.line-face-container {
    position: relative;
    display: flex;
}

@media (max-width: 1024px) {
    .line-face-container {
        justify-content: center;
    }
}

.text-container {
    position: relative;
    margin-top: 7%;
    width: 100%;
}

.name-container {
    display: flex;
    flex-direction: column;
}

.full-name {
    font-size: 120px;
    color: var(--foreground);
    font-weight: 500;
}

.first-name {
    position: relative;
    left: -15%;
}

.last-name {
    position: relative;
    left: 10%;
    color: var(--background);
}

.last-name-rectangle {
    display: block;
    position: absolute;
    left: -0.2em;
    height: 1em;
    width: 6.4em;
    background-color: var(--green);
    z-index: -1;
}

@media (max-width: 1024px) {

    .name-container {
        width: 80%;
        margin-inline: auto;
    }

    .full-name {
        font-size: 90px;
    }

    .first-name {
        left: 0;
    }

    .last-name {
        left: 20%;
        margin-top: 10px;
    }

    .last-name-rectangle {
        top: -0.1em;
        width: 6em;
    }
}

@media (max-width: 1024px) {
    
}

.best-name-part {
    color: var(--background);
}

.home-descriptions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 45px;
    font-style: italic;
    margin-top: 20%;
    margin-right: 10%;
}

/* .home-descriptions h2 {
    font-size: 45px;
    font-weight: 500;
    font-style: italic;
} */

.home-description-line {
    display: flex;
    gap: 40px;
}

.home-description-line:nth-child(1) {
    justify-content: end;
}

.home-description-line:nth-child(2) {
    justify-content: center;
    margin-left: 15%;
}

@media (max-width: 1024px) {
    .home-descriptions {
        width: 100%;
        margin-top: 30px;
    }

    .home-description-line {
        width: 100%;
    }

    .home-description-line:nth-child(2) {
        margin-left: 8%;
    }
}

.hidden-home-description {
    color: var(--background);
    cursor: default;
}
