@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300;400;500;600;700&display=swap");

:root {
    /* Colors */
    --background: #1f2133;
    --dark-blue: #1f2133;
    --foreground: #fff;
    --light-background: #2e324b;
    --glass-background: #2e324b6e;
    --green: #43ff3f;
    --purple: #fb3fff;

    /* Breakpoints */
    --sm: 480px;
    --md: 768px;
    --lg: 1024px;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: "Hind Guntur", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

h2 {
    font-size: 35px;
    font-weight: 500;
}

h3 {
    font-size: 25px;
    font-weight: 500;
}

@media (max-width: 1024px) {
    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 23px;
    }
}

@media (max-width: 550px) {
    h2 {
        font-size: 27px;
    }

    h3 {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    h2 {
        font-size: 23px;
    }

    h3 {
        font-size: 20px;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: "Josefin Sans", sans-serif;
    font-size: 19px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.4;
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    body {
        font-size: 14px;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.navbar-container {
    width: 100vw;
    display: flex;
    position: fixed;
    z-index: 200;
    height: 0px;
}

@media (max-width: 786px) {
    .navbar-container {
        width: 0;
    }
}

.section-heading {
    font-size: 80px;
    font-weight: 500;
    margin-left: 20%;
    position: relative;
}

.section-heading::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: calc(50% - 25px);
    left: -8%;
    display: block;
    background-color: var(--green);
}

.full-page-section {
    padding-top: 175px;
    margin-inline: auto;
    margin-bottom: 75px;
}

@media (max-width: 1024px) {
    .section-heading {
        font-size: 50px;
    }

    .section-heading::after {
        width: 25px;
        height: 25px;
        left: -6%;
        top: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .section-heading::after {
        width: 20px;
        height: 20px;
        left: -6%;
        top: calc(50% - 17px);
    }

    .full-page-section {
        padding-top: 100px;
    }
}

@media (max-width: 500px) {
    .section-heading {
        font-size: 50px;
    }

    .section-heading::after {
        width: 20px;
        height: 20px;
        left: -10%;
        top: calc(50% - 17px);
    }
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
