.line {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.dashed-line,
.filled-line {
    position: absolute;
}

.dashed-line {
    height: 100%;
    border-left: 2px dashed var(--green);
}

.filled-line {
    height: 0px;
    border-left: 4px solid var(--green);
}

.first-half {
    bottom: 75%;
}

.line-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
}
