.all-projects-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 50px auto;
    width: 80%;
    /* gap: 50px; */
}

@media (max-width: 600px) {
    .all-projects-container {
        width: 90%;
    }
}

.main-image-container {
    display: flex;
    width: 80%;
    margin-inline: auto;
    justify-content: center;
    position: relative;
    margin-top: 90px;
    margin-bottom: 30px;
}

.project-main-image {
    position: relative;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    max-width: 100%;
    position: relative;
}

.project-name-label {
    position: absolute;
    left: 0;
    top: 5%;
    background-color: var(--green);
    color: var(--background);
    font-size: 35px;
    padding: 5px 30px;
}

.description-with-stats-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-inline: auto;
    justify-content: space-around;
    margin-top: 40px;
}

.project-tech-stack {
    margin-inline: auto;
    width: 90%;
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
}

@media (max-width: 1400px) {
    .description-with-stats-container {
        flex-direction: column-reverse;
        gap: 100px;
        align-items: center;
        margin-left: 8%;
    }
}

@media (max-width: 1400px) {
    .description-with-stats-container {
        width: 100%;
        margin-left: 1%;
    }
}
