/* Statistics Card wrapper and its Shadow */

.statistics-card-container {
    --card-max-width: min(500px, 30vw);
    --card-max-height: max(500px, 20vh);

    display: flex;
    position: relative;
    flex-direction: column;
    width: var(--card-max-width);
    /* height: var(--card-max-height); */
}

.statistics-card,
.statistics-card-shadow {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    /* height: 100%; */
}

.statistics-card {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--background);
    border: 1px solid var(--green);
    /* margin-bottom: 100px; */
}

.statistics-card-shadow {
    position: absolute;
    display: flex;
    top: 5%;
    left: -5%;
    background-color: var(--green);
    z-index: -1;
    height: 97%;
}

@media (max-width: 1400px) {
    .statistics-card-container {
        width: 70%;
    }
}

/* The container for the Statistics Diagram */

.statistics-container {
    width: 60%;
    display: flex;
    margin: 11% auto;
}

/* Statistics lower half (Line + Text) */

.statistics-text {
    position: relative;
    margin-top: 7%;
    /* margin-bottom: 10px; */
    margin-inline: auto;
    row-gap: 1rem;
    column-gap: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.statistics-text::before {
    content: "";
    position: absolute;
    border: 1px solid var(--green);
    width: 70%;
    top: -15%;
    left: 15%;
    z-index: 2;
}

.single-statistics-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    line-height: 2rem;
}

@media (max-width: 1500px) {
    .single-statistics-text {
        font-size: 20px;
    }
}

@media (max-width: 1400px) {
    .single-statistics-text {
        font-size: 24px;
    }

    .statistics-text {
        row-gap: 1.5rem;
        column-gap: 4rem;
        margin-bottom: 10px;
    }

    .statistics-text::before {
        left: 10%;
        width: 80%;
        top: -22%;
    }
}

@media (max-width: 1024px) {
    .single-statistics-text {
        font-size: 22px;
    }

    .statistics-text {
        row-gap: 1.5rem;
        column-gap: 3rem;
        margin-bottom: 0;
    }

    .statistics-text::before {
        left: 10%;
        width: 80%;
        top: -15%;
    }
}

@media (max-width: 800px) {
    .single-statistics-text {
        font-size: 20px;
    }

    .statistics-text {
        row-gap: 0.5rem;
        column-gap: 2rem;
    }
}

@media (max-width: 680px) {
    .single-statistics-text {
        font-size: 20px;
    }

    .statistics-text {
        margin-top: 12%;
        row-gap: 0.5rem;
        column-gap: 2rem;
        grid-template-columns: 1fr 1fr;
    }

    .statistics-text::before {
        left: 5%;
        width: 90%;
        top: -10%;
    }
}

@media (max-width: 500px) {
    .single-statistics-text {
        font-size: 18px;
    }

    .statistics-text {
        margin-top: 15%;
        row-gap: 0.3rem;
        column-gap: 1.3rem;
        grid-template-columns: 1fr 1fr;
    }

    .statistics-text::before {
        width: 70%;
        left: 15%;
        top: -7%;
    }
}

/* Project Tags */

.project-tags-wrapper {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-inline: 10px;
}

.project-tag {
    color: var(--foreground);
    background-color: var(--background);
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
}

@media (max-width: 1400px) {
    .project-tag {
        font-size: 21px;
    }
}

@media (max-width: 1024px) {
    .project-tag {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .project-tag {
        margin: 5px;
        font-size: inherit;
    }
}

@media (max-width: 450px) {
    .project-tag {
        padding: 7px 14px;
    }
}
