.skillset-tab,
.skillset-tab-active {
    --bord-radius: 5px;
    --rect-width: 170px;
    --rect-height: 75px;
}

.skillset-tab,
.skillset-tab-active {
    border-radius: var(--bord-radius);
    width: var(--rect-width);
    height: var(--rect-height);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillset-tab-text {
    font-weight: 600;
}

.skillset-tab {
    border: var(--green) 1px solid;
    background-color: var(--background);
}

.skillset-tab:hover {
    cursor: pointer;
}

.skillset-extra-rectangle {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -30%;
    left: -15%;
    border-radius: var(--bord-radius);
    background-color: var(--green);
    z-index: -1;
}

.skillset-tab-active {
    color: var(--background);
    background-color: var(--green);
}

@media (max-width: 768px) {
    .skillset-tab,
    .skillset-tab-active {
        --rect-width: 140px;
        --rect-height: 65px;
        position: relative;
        min-width: var(--rect-width);
        min-height: var(--rect-height);
    }

    .skillset-tab-text {
        font-size: 22px;
    }
}

@media (max-width: 600px) {
    .skillset-tab,
    .skillset-tab-active {
        --rect-width: 130px;
        --rect-height: 55px;
        position: relative;
        min-width: var(--rect-width);
        min-height: var(--rect-height);
    }

    .skillset-tab-text {
        font-size: 20px;
    }
}
