.personal-info-card {
    display: flex;
    gap: 10px;
    --title-size: 20px;
    color: var(--foreground);
}

.personal-info-icon {
    border: 1px solid #ffffff79;
    /* padding: 8px; */
    border-radius: 10px;
    background-color: var(--glass-background);
}

.personal-info-text-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    justify-content: center;
}

.personal-info-title {
    font-size: var(--title-size);
    opacity: 0.8;
}

.personal-info-value {
    font-size: calc(var(--title-size) + 1px);
    font-weight: 500;
}

@media(max-width: 1024px) {

    .personal-info-icon {
        width: 70px;
        height: 70px;
    }

    .personal-info-card {
        --title-size: 17px;
    }
}

@media (max-width: 768px) {
    .personal-info-icon {
        width: 80px;
        height: 80px;
    }

    .personal-info-card {
        --title-size: 20px;
    }
}

@media (max-width: 500px) {
    .personal-info-icon {
        width: 70px;
        height: 70px;
    }

    .personal-info-card {
        --title-size: 17px;
    }
}
