.story-line-wrapper {
    position: relative;
    margin-top: 50px;
    max-width: 1200px;
    margin-inline: auto;
}

.new-content-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

.new-point-col {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.new-content-row:nth-of-type(odd) {
    flex-direction: row-reverse;
}