.main-header {
    padding-left: 30px;
    font-size: 35px;
    font-weight: 700;
    color: var(--foreground);
    margin-bottom: 10px;
}

.description-card {
    background-color: var(--light-gray);
    padding: 20px 30px;
    box-shadow: 0px 0px 10px 1px rgba(196, 247, 161, 0.1);
    border-radius: 10px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}
