.text-column {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    position: relative;
}

.main-header {
    padding-left: 30px;
}

.description-card {
    background-color: var(--light-gray);
    padding-inline: 20px;
    padding-block: 10px;
    box-shadow: 0px 0px 10px 1px rgba(196, 247, 161, 0.1);
    border-radius: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin-top: 10px;
}
