.main-header {
    padding-left: 30px;
    color: var(--foreground);
    position: relative;
}

.main-header::after {
    content: "";
    display: block;
    width: 150px;
    height: 4px;
    background-color: var(--green);
    margin-bottom: 10px;
    position: absolute;
    top: 80%;
    left: 10%;
}

.description-card {
    background-color: var(--light-gray);
    padding: 20px 30px;
    box-shadow: -100px 60px 10px 1px #42ff3f57;
    border-radius: 10px;
    border: 2px solid #42ff3f36;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.text-column {
    display: flex;
    flex-direction: column;
    z-index: 50;
}

.text-column:nth-last-of-type(odd) .description-card {
    box-shadow: 100px 60px 50% 1px #42ff3f57;
    border: 2px solid #42ff3f36;
}
